.property1defaultChild {
  width: 191px;
  position: relative;
  border-radius: 3.62px;
  height: 89px;
  object-fit: contain;
  z-index: 0;
}
.vectorIcon {
  width: 34px;
  position: relative;
  height: 25px;
}
.discord,
.joinUsOn {
  position: relative;
  line-height: 95%;
}
.joinUsOn {
  letter-spacing: 0.2em;
  font-weight: 300;
}
.discord {
  font-size: var(--font-size-mini-5);
  font-weight: 600;
}
.joinUsOnParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.62px 0;
}
.property1default,
.property1variant2,
.vectorParent {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vectorParent {
  margin: 0 !important;
  top: 30.4px;
  left: 18.1px;
  justify-content: flex-start;
  gap: 0 13.75px;
  z-index: 1;
}
.property1default,
.property1variant2 {
  top: 20px;
  left: 20px;
  justify-content: center;
  gap: 0 7.24px;
}
.property1variant2 {
  top: 129px;
  color: var(--color-white);
}
.discordButton {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 238px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs-9);
  color: var(--color-black);
  font-family: var(--font-oxanium);
}
