.cyberpunkUrbanScenery23215Icon {
  position: absolute;
  top: -18px;
  left: 0;
  width: 1440px;
  height: 1051px;
  object-fit: cover;
}
.prizesChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1015px;
}
.vectorIcon {
  position: absolute;
  top: 0;
  left: calc(50% - 729.7px);
  width: 1459.4px;
  height: 87px;
}
.rulesModule {
  margin-block-start: 0;
  margin-block-end: 5.87px;
}
.loading {
  margin: 0;
}
.rulesModuleLoadingContainer {
  position: absolute;
  top: 16.1px;
  left: 16.4px;
  line-height: 75%;
  font-weight: 600;
  display: inline-block;
  width: 199px;
  height: 22.3px;
}
.vector {
  position: absolute;
  top: 96.5px;
  left: calc(50% - 730.2px);
  width: 1459.4px;
  height: 87px;
  color: var(--color-gray-100);
}
.prizes1 {
  position: absolute;
  top: 216px;
  left: 46px;
  font-size: var(--font-size-47xl-7);
  line-height: 75%;
  font-weight: 500;
  color: var(--color-yellow-100);
}
.prizesItem {
  position: absolute;
  top: 794px;
  left: calc(50% - 827px);
  background-color: var(--color-black);
  filter: blur(88.7px);
  width: 1612px;
  height: 342.3px;
}
.frameChild {
  top: 0;
  left: 13.4px;
  z-index: 0;
}
.frameChild,
.frameChild1,
.frameInner,
.frameItem {
  width: 7.9px;
  position: absolute;
  margin: 0 !important;
  height: 7.9px;
}
.frameItem {
  top: 0;
  left: 0.3px;
  object-fit: contain;
  z-index: 1;
}
.frameChild1,
.frameInner {
  top: 21px;
  left: 13.4px;
  z-index: 2;
}
.frameChild1 {
  top: 13.1px;
  left: 0.3px;
  object-fit: contain;
  z-index: 3;
}
.vectorParent {
  position: absolute;
  top: 0;
  left: calc(50% + 15.3px);
  width: 21.3px;
  height: 20.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 0.33px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1.1px solid var(--color-indianred);
  box-sizing: border-box;
  width: 12.8px;
  height: 12.8px;
}
.frameChild2,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 1.6px;
  background-color: var(--color-indianred);
  width: 0.7px;
  height: 3.9px;
}
.frameChild2 {
  top: 2.3px;
  left: 3.9px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.rectangleParent {
  position: absolute;
  top: 4.6px;
  left: 4.6px;
  width: 3.9px;
  height: 3.9px;
}
.ellipseParent,
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.8px;
  height: 12.8px;
}
.groupWrapper {
  top: 4.3px;
  left: 56px;
}
.groupChild2,
.groupChild3,
.groupChild4,
.groupChild5,
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-indianred);
  width: 4.1px;
  height: 17.4px;
}
.groupChild2,
.groupChild3,
.groupChild4,
.groupChild5,
.groupInner {
  top: 1.8px;
  left: 18.4px;
}
.groupChild2,
.groupChild3,
.groupChild4,
.groupChild5 {
  left: 7.8px;
}
.groupChild3,
.groupChild4,
.groupChild5 {
  left: 13.1px;
}
.groupChild4,
.groupChild5 {
  top: 18.2px;
  left: 0;
  height: 1.1px;
}
.groupChild5 {
  top: 20.2px;
}
.groupChild6 {
  position: absolute;
  top: 0;
  left: 5.3px;
  width: 38.6px;
  height: 21.1px;
}
.frameParent {
  position: absolute;
  top: 35px;
  left: calc(50% - 452.5px);
  width: 73px;
  height: 21.3px;
}
.a,
.idref21009157,
.levelUp3,
.modelLine,
.streetCred {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 75%;
  font-weight: 600;
  background: linear-gradient(#db544c, #db544c),
    linear-gradient(#db544c, #db544c), #db544c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.a,
.idref21009157,
.levelUp3,
.streetCred {
  left: 151px;
}
.idref21009157,
.levelUp3,
.streetCred {
  top: 1px;
  left: 836px;
}
.idref21009157,
.streetCred {
  left: 705px;
}
.idref21009157 {
  top: 34px;
  left: 80px;
  font-size: var(--font-size-xs-4);
  letter-spacing: -0.08em;
  line-height: 97%;
}
.groupContainer {
  position: absolute;
  top: 67.8px;
  left: calc(50% - 453.5px);
  width: 907px;
  height: 56.3px;
}
.lineDiv {
  position: absolute;
  top: 60.1px;
  left: 0.4px;
  border-top: 1.2px solid var(--color-indianred);
  box-sizing: border-box;
  width: 907.2px;
  height: 1.2px;
}
.frameChild3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 132.1px;
  height: 53.7px;
}
.onTheRise {
  width: 48.5px;
  position: relative;
  line-height: 95%;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.frameChild4 {
  width: 61.4px;
  position: relative;
  box-shadow: 0 0 0.33px #db544c, 0 0 0.33px #db544c, 0 0 0.33px #db544c,
    0 0 0.33px #db544c, 0 0 0.33px #db544c;
  border-top: 0.7px solid var(--color-indianred);
  box-sizing: border-box;
  height: 0.7px;
}
.onTheRiseParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.youMadeIt {
  width: 108.1px;
  position: relative;
  font-size: var(--font-size-6xs-7);
  line-height: 105%;
  font-weight: 600;
  text-align: justify;
  display: inline-block;
}
.frameContainer {
  position: absolute;
  top: 5.7px;
  left: 12.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.58px 0;
}
.vectorGroup {
  position: absolute;
  top: 0;
  left: 140.9px;
  backdrop-filter: blur(9.47px);
  width: 132.1px;
  height: 53.7px;
  overflow: hidden;
}
.groupChild7 {
  top: 20.4px;
  left: 129.5px;
  background-color: var(--color-indianred);
  width: 4.9px;
  height: 13.8px;
}
.clockChild,
.groupChild7,
.pm {
  position: absolute;
}
.clockChild {
  top: 0;
  left: 0;
  border-radius: 4.07px;
  background-color: var(--color-gray-400);
  border: 2.4px solid var(--color-indianred);
  box-sizing: border-box;
  width: 123.8px;
  height: 53.8px;
}
.pm {
  top: 17.1px;
  left: 17.1px;
  line-height: 105%;
  font-weight: 600;
}
.clock,
.frameGroup {
  position: absolute;
  top: 0;
  height: 53.8px;
}
.clock {
  left: 0;
  width: 123.8px;
  font-size: var(--font-size-xl-2);
  color: var(--color-darkturquoise);
}
.frameGroup {
  left: 1px;
  width: 273px;
  font-size: var(--font-size-5xs-6);
}
.groupParent {
  position: absolute;
  top: 856px;
  left: calc(50% - 674px);
  width: 907px;
  height: 124px;
  font-size: var(--font-size-xs);
  color: var(--color-indianred);
}
.socialsChild,
.vectorIcon1 {
  width: 60px;
  position: relative;
  height: 48.6px;
}
.vectorIcon1 {
  width: 38.3px;
  height: 38.3px;
  z-index: 0;
}
.vectorIcon2 {
  width: 51.7%;
  position: absolute;
  margin: 0 !important;
  height: 49.61%;
  top: 22.19%;
  right: 24.28%;
  bottom: 28.2%;
  left: 24.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.flatCopy5 {
  position: absolute;
  top: calc(50% - 19.75px);
  left: calc(50% - 19.75px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 10.34px;
}
.linkedin {
  position: absolute;
  top: 5.5px;
  left: 17.2px;
  width: 38.3px;
  height: 38.3px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 48.6px;
}
.socials {
  position: absolute;
  top: 931px;
  left: 1101px;
  backdrop-filter: blur(30.74px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 15.06px;
}
.trophyvectorChild {
  position: absolute;
  top: 204.6px;
  left: 42.2px;
  width: 96.2px;
  height: 34.4px;
}
.vectorIcon3 {
  top: 28.8px;
  left: 30.9px;
  width: 118.8px;
  height: 123.6px;
}
.b,
.vectorIcon3,
.vectorIcon4 {
  position: absolute;
}
.b {
  top: 57.6px;
  left: 70.6px;
  line-height: 100%;
}
.vectorIcon4 {
  top: 155.5px;
  left: 65.6px;
  width: 49.2px;
  height: 11.7px;
}
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  top: 193.1px;
  left: 81.2px;
  width: 18.1px;
  height: 8.4px;
}
.vectorIcon6 {
  top: 170.3px;
  left: 81.4px;
  width: 17.8px;
  height: 19.9px;
}
.trophyvectorInner,
.trophyvectorItem {
  position: absolute;
  top: 19.8px;
  left: 30.9px;
  background-color: var(--color-darkslategray);
  border: 1.3px solid var(--color-white);
  box-sizing: border-box;
  width: 118.8px;
  height: 5.9px;
}
.trophyvectorInner {
  top: 242px;
}
.rectangleIcon,
.trophyvectorChild1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27.5px;
  height: 80.7px;
}
.trophyvectorChild1 {
  left: 153px;
  object-fit: contain;
}
.trophyvectorChild2 {
  position: absolute;
  top: 90.6px;
  left: 40.2px;
  width: 10.5px;
  height: 12.7px;
}
.trophyvectorChild3,
.trophyvectorChild4 {
  position: absolute;
  top: 105.3px;
  left: 47px;
  width: 11.8px;
  height: 12.7px;
}
.trophyvectorChild4 {
  top: 120.2px;
  left: 54px;
  width: 12.8px;
}
.trophyvector {
  width: 180.5px;
  position: relative;
  height: 247.8px;
}
.inr1500,
.stRunnerUp {
  position: relative;
  line-height: 100%;
}
.inr1500 {
  font-size: 40.2px;
}
.text {
  font-size: 36.9px;
}
.text,
.trophy2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15.43px 0;
}
.trophyvectorChild5,
.vectorIcon7 {
  position: absolute;
  top: 306.6px;
  left: 63.2px;
  width: 144.1px;
  height: 51.5px;
}
.vectorIcon7 {
  top: 43.1px;
  left: 46.3px;
  width: 178px;
  height: 185.1px;
}
.b1 {
  position: absolute;
  top: 83.9px;
  left: 108.5px;
  line-height: 100%;
}
.vectorIcon8 {
  position: absolute;
  top: 233px;
  left: 98.4px;
  width: 73.8px;
  height: 17.5px;
}
.vectorIcon10,
.vectorIcon9 {
  position: absolute;
  top: 289.4px;
  left: 121.7px;
  width: 27.2px;
  height: 12.6px;
}
.vectorIcon10 {
  top: 255.1px;
  left: 121.9px;
  width: 26.6px;
  height: 29.8px;
}
.trophyvectorChild6,
.trophyvectorChild7 {
  position: absolute;
  top: 29.7px;
  left: 46.3px;
  background-color: var(--color-yellow-200);
  border: 1.9px solid var(--color-yellow-100);
  box-sizing: border-box;
  width: 178px;
  height: 8.8px;
}
.trophyvectorChild7 {
  top: 362.6px;
}
.trophyvectorChild8,
.trophyvectorChild9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41.2px;
  height: 120.9px;
}
.trophyvectorChild9 {
  left: 229.3px;
  object-fit: contain;
}
.trophyvectorChild10 {
  position: absolute;
  top: 135.7px;
  left: 60.2px;
  width: 15.7px;
  height: 19px;
}
.trophyvectorChild11,
.trophyvectorChild12 {
  position: absolute;
  top: 157.8px;
  left: 70.5px;
  width: 17.8px;
  height: 19px;
}
.trophyvectorChild12 {
  top: 180.1px;
  left: 81px;
  width: 19.1px;
}
.trophyvector1 {
  width: 270.5px;
  position: relative;
  height: 371.4px;
}
.text1,
.trophy1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text1 {
  gap: 20.26px 0;
  font-size: var(--font-size-38xl);
}
.trophy1 {
  gap: 28.94px 0;
  font-size: 92.6px;
  color: var(--color-yellow-100);
}
.trophyvectorChild13,
.vectorIcon11 {
  position: absolute;
  top: 168.3px;
  left: 34.7px;
  width: 79.1px;
  height: 28.3px;
}
.vectorIcon11 {
  top: 23.7px;
  left: 25.4px;
  width: 97.7px;
  height: 101.6px;
}
.b2 {
  position: absolute;
  top: 48.9px;
  left: 58.2px;
  line-height: 100%;
}
.vectorIcon12 {
  position: absolute;
  top: 127.9px;
  left: 54px;
  width: 40.5px;
  height: 9.6px;
}
.vectorIcon13,
.vectorIcon14 {
  position: absolute;
  top: 158.9px;
  left: 66.8px;
  width: 14.9px;
  height: 6.9px;
}
.vectorIcon14 {
  top: 140px;
  left: 66.9px;
  width: 14.6px;
  height: 16.3px;
}
.trophyvectorChild14,
.trophyvectorChild15 {
  position: absolute;
  top: 16.3px;
  left: 25.4px;
  background-color: var(--color-darkgoldenrod-200);
  border: 1px solid var(--color-darkgoldenrod-100);
  box-sizing: border-box;
  width: 97.7px;
  height: 4.8px;
}
.trophyvectorChild15 {
  top: 199px;
}
.trophyvectorChild16,
.trophyvectorChild17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.6px;
  height: 66.4px;
}
.trophyvectorChild17 {
  left: 125.9px;
  object-fit: contain;
}
.trophyvectorChild18 {
  position: absolute;
  top: 74.5px;
  left: 33.1px;
  width: 8.6px;
  height: 10.4px;
}
.trophyvectorChild19,
.trophyvectorChild20 {
  position: absolute;
  top: 86.6px;
  left: 38.7px;
  width: 9.7px;
  height: 10.4px;
}
.trophyvectorChild20 {
  top: 98.8px;
  left: 44.5px;
  width: 10.5px;
}
.trophyvector2 {
  width: 148.5px;
  position: relative;
  height: 203.8px;
}
.inr150 {
  position: relative;
  font-size: 32.7px;
  line-height: 100%;
}
.text2 {
  flex-direction: column;
  gap: 12.56px 0;
  font-size: 30px;
}
.text2,
.trophies,
.trophy3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trophy3 {
  flex-direction: column;
  gap: 12.56px 0;
  font-size: 54.8px;
  color: var(--color-darkgoldenrod-100);
}
.trophies {
  position: absolute;
  top: calc(50% - 212.5px);
  left: calc(50% - 455px);
  flex-direction: row;
  gap: 0 99px;
  text-align: justify;
  font-size: 67.3px;
}
.instanceChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.navbaruemlogoIcon {
  width: 75.3px;
  position: relative;
  height: 60.5px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.prizes2,
.timeline {
  position: relative;
  line-height: 75%;
  font-weight: 600;
}
.prizes2 {
  color: var(--color-yellow-100);
}
.navbaruemlogoParent,
.timelineParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 50px;
}
.navbaruemlogoParent {
  align-items: center;
  gap: 0 206px;
}
.vectorIcon15 {
  width: 46px;
  position: relative;
  height: 50px;
}
.frameDiv {
  position: absolute;
  height: 62.37%;
  top: 17.53%;
  bottom: 20.1%;
  left: calc(50% - 634px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 203px;
}
.rectangleGroup {
  position: absolute;
  top: -1px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 97px;
  text-align: center;
  font-size: var(--font-size-base-8);
}
.prizes {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  backdrop-filter: blur(4px);
  height: 1015px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  font-family: var(--font-oxanium);
}
